/* Estilos globales para el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Estilos para el encabezado h1 */
h1 {
  font-family: Arial, sans-serif;
  font-size: 40px;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  text-align: center;
  padding: 24.5px 0;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  margin-top: -40px;
}

/* Estilos para el contenedor principal */
.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 0;
}

/* Estilos compartidos para los contenedores */
.container,
.container2 {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  margin: 20px;
  padding: 20px;
  width: 300px;
  height: auto;
  position: relative;
}

/* Estilos específicos para el segundo contenedor */
.container2 {
  background-color: black;
  color: #ffffff;
}

/* Estilos para las secciones de texto */
.text-section {
  text-align: center;
  margin-bottom: 10px;
}

/* Estilos para los textos específicos */
.text1,
.text2 {
  margin: 0;
}

/* Estilos para las imágenes dentro de los contenedores */
.container img,
.container2 img {
  cursor: pointer;
  height: 150px;
  width: 250px;
}

/* Estilos para el contenedor de imágenes */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

/* Estilos para las imágenes dentro del contenedor de imágenes */
.image-container img {
  max-width: 100%;
  height: auto;
}

/* Estilos para los logotipos específicos de Daviplata y Bancolombia */
.daviplata.logo,
.bancolombia.logo {
  border-radius: 30px;
  margin-top: 10px;
}

/* Estilos específicos para el logotipo de Daviplata */
.daviplata.logo {
  height: 150px;
  width: 250px;
}

/* Estilos específicos para el logotipo de Bancolombia */
.bancolombia.logo {
  height: 150px;
  width: 200px;
}
